#BarraJuegos-Seccion{
    position: fixed;
    top: 0;
}

.barra-navegacion-juegos{
    background-color: #38519f;
    width: 100vw;
    height: 7vh;
    border-radius: 0px 0px 25px 25px;
}

.barra-navegacion-juegos-contenido{
    display: flex;
    height: 100%;
}

.barra-juegos-boton-atras{
    cursor: pointer;
}