#Inicio-Seccion{
    /* border: 5px solid rgb(23, 41, 139); */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-juegos{
    /* border: solid 1px red; */
    height: 90vh;
    width: 90vw;
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10vw,1fr)); */
}

.contenedor-juegos .contenedor-juego-individual{
    background-color: rgb(60, 156, 89);
    height: 40vh;
    width: 15vw;
    margin: 50px 25px;
    border-radius: 30px;
    
    position: relative;
    transition: 0.2s linear;
    cursor: pointer;
    overflow: hidden;
}

.contenedor-juegos .contenedor-juego-individual:hover{
    background-color: rgb(74, 189, 109);
}

.contenedor-juego-moneda{
    border: solid 1px black;
}

.contenedor-juego-tortugas{
    border: solid 1px black;
}
.contenedor-juego-tortugas.byn:hover{
    cursor: pointer;
    background-color: rgb(60, 156, 89);
}



.titulo-juego{
    background-color: rgb(27, 99, 48);
    color: white;
    padding: 1rem;
    text-align: center;

    position: relative;
    z-index: 1;
}

.monedas-fondo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 86%;

    position: relative;
    z-index: 0;
    transition: 0.2s linear;
}

.monedas-fondo:hover{
    transform: scale(1.2);
    filter: drop-shadow(-2px 3px 2px rgba(0, 0, 0, 0.6));
}

.monedas-fondo > *{
    margin: 4px;
    transition: 0.2s linear;
}

.monedas-fondo:hover > *{
    margin: 2px;
}

/* .contenedor-juegos-gris{
    width: 100%;
    height: 100%;
    background-color: rgb(128 128 128 / 20%);
    transform: translate(0px, -385px);
}

.contenedor-juegos-gris:hover{
    display: none;
} */

.tortuga-fondo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 86%;

    position: relative;
    z-index: 0;
    transition: 0.2s linear;
}
.tortuga-fondo:hover{
    transform: scale(1.2);
    filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.65));
}
.tortuga-fondo.byn{
    filter: grayscale(1);
}
.tortuga-fondo:hover{
    transform: scale(1.2);
    filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.65));
}

.abrir-modal-contacto{
    position: absolute;
    background-color: rgb(71 127 165);
    color: white;
    bottom: 0.5rem;
    font-size: 3rem;
    text-align: center;
    width: 4rem;
    height: 4rem;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: scale(0.6);
    cursor: pointer;
    box-shadow: -3px 3px 9px 0px black;
    transition: linear 0.2s;
    /* animation: abrirContactoAnimacion 10s linear infinite alternate; */
}

/* @keyframes abrirContactoAnimacion {
    0%{
        box-shadow: -3px 3px 9px 0px black;
        transform:  scale(0.6) translate(0px, 0px);
    }
    40%{
        box-shadow:  -1px -4px 9px 0px black;
        transform:  scale(0.6) translate(-2px, -2px);
    }
    75%{
        box-shadow: 4px 3px 9px 0px black;
        transform:  scale(0.6) translate(1px, -1px);
    }
    100%{
        box-shadow: -3px 3px 9px 0px black;
        transform:  scale(0.6) translate(0px, 0px);
    }
} */

.abrir-modal-contacto:hover{
    background-color: rgb(82, 148, 192);
    width: 4.1rem;
    height: 4.1rem;
    font-size: 3.1rem;
    bottom: 0.8rem;
}


.mi-web-contacto{
    display: flex;
    align-items: center;
    position: absolute;
    top: 1.2rem;
    left: 2rem;
}
.mi-web-contacto img{
    width: 4%;
    filter: invert(1);
}
.mi-web-contacto a{
    margin-left: 0.2rem;
    text-decoration: none;
    color: white;
}

.mi-web-contacto a::before{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 4%;
    width: 0%;
    height: 1px;
    background-color: white;
    transition: 0.2s linear;
}
.mi-web-contacto a:hover::before{
    content: "";
    left: 4%;
    width: 25%;
}

.otros-links-contacto{
    display: flex;
    position: absolute;
    right: 5rem;
    top: 0.8rem;
}
.otros-links-contacto img{
    width: 40%;
    transition: 0.1s linear;
}
.otros-links-contacto img:hover{
    transform: scale(1.1);
    filter: drop-shadow(-1px 1px 1px black);
}

.desploquear-tortugas{
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: #818181a6;
    filter: drop-shadow(12px 4px 7px outside black);
    width: 100%;
    height: 100%;
}
.desploquear-tortugas.compradas{
    visibility: hidden;
}

.boton-desbloquear-tortugas{
    position: absolute;
    display: flex;
    bottom: 1.5rem;
    left: 25%;
    text-align: center;
    width: 45%;
    height: 3rem;
    font-size: 1.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #44e549;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 0px #2f6a31;
    cursor: pointer;
    transition: linear 0.1s;
}
.boton-desbloquear-tortugas:hover{
    background-color: #61fc66;
}
.boton-desbloquear-tortugas:active{
    bottom: 1.3rem;
    box-shadow: 0px 0px 0px #2f6a31;
}

.boton-desbloquear-tortugas span{
    font-size: 0.7rem;
    margin-top: -3px;
    color: rgb(255, 255, 122);
}

.boton-desbloquear-tortugas.boton-desb-tortugas-desactivado{
    background-color: rgb(209, 209, 209);
    box-shadow: none;
    border: 1px solid black;
}
.boton-desbloquear-tortugas.boton-desb-tortugas-desactivado:hover{
    background-color: rgb(209, 209, 209);;
    box-shadow: none;
}
.boton-desbloquear-tortugas.boton-desb-tortugas-desactivado:active{
    bottom: 1.5rem;
    box-shadow: none;
}