/*POSICIONES--------------------*/
#Moneda-Seccion{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.contenedor-moneda{
    border: solid rgb(70, 70, 70) 3px;
    border-radius: 20px;
    width: 50vw;
    height: 40vh;
    bottom: 0%;
    position: relative;
}



.contenedor-moneda .mis-monedas{
    /* position: absolute; */
    top: 0.6rem;
    left: 1rem;
}

.mis-monedas{
    background-color: #dda534;
    position: absolute;
    width: 8rem;
    height: 1.8rem;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.mis-monedas.monedas-tapadas::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #dda534;
    z-index: 100;
    animation: taparMonedas linear 2s forwards;
}
@keyframes taparMonedas {
    0%{
        background-color: #dda534;
    }
    90%{
        background-color: #dda534;
    }
    100%{
        background-color: #dda53400;
    }
}

.contenedor-icono-moneda{
    margin-top: 4px;
    margin-right: 8px;
}
.contenedor-info-mis-monedas{
    margin-bottom: 2px;
}
#icono_moneda{
    transform: scale(1.5);
    box-sizing: border-box;
    padding: 2px;
}



.contenedor-moneda .ultima-apuesta{
    position: absolute;
    top: 2.5rem;
    left: 1rem;
}


.contenedor-moneda .apostar{
    position: absolute;
    display: flex;
    top: 1rem;
    right: 1rem;
    z-index: 1;
}


/* ------ CAMBIAR CANTIDAD APUESTA */

.cambiar-apuesta-moneda{
    position: absolute;
    display: flex;
    top: 3rem;
    right: 1rem;
    z-index: 1;
}
.cambiar-apuesta-moneda button:first-child{
    border-radius: 5px 0px 0px 5px;
}
.cambiar-apuesta-moneda button:last-child{
    border-radius: 0px 5px 5px 0px;
}
.cambiar-apuesta-moneda button{
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #eba900;
    color: #fff;
}
.cambiar-apuesta-moneda button.apuesta-elegida-moneda{
    color: #fff;
    background-color: #917f53;
    transform: translate(0px, 2px);
    height: 1rem;
}

/* CAMBIAR CANTIDAD APUESTA ------ */



.contenedor-moneda .apostar div{
    margin: 0 10px;
}

.contenedor-moneda .estado-moneda{
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.contenedor-moneda .elegir{
    position: absolute;
    bottom: 20%;
}

.contenedor-moneda .contenedor-lanzar-moneda{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 1rem;
    width: 100%;
    height: 20px;
}

.contenedor-moneda .boton-lanzar-moneda{
    position: absolute;
    bottom: 0;
}
/*--------------------POSICIONES*/


/*CAMBIO ELECCION DE MONEDA--------------------*/
.estado-moneda .elegir .boton-elegir{
    background-color: #b1541e;
    border: none;
    padding: 5px;
    transition: 0.2s linear;
    color: white;
}

.estado-moneda .elegir .boton-elegir:hover{
    background-color: green;
}

.estado-moneda .elegir .boton-elegir.boton-cara{
    border-radius: 7px 0px 0px 7px;
}
.estado-moneda .elegir .boton-elegir.boton-ceca{
    border-radius: 0px 7px 7px 0px;
}

.estado-moneda .elegir .boton-elegir.seleccionado{
    background-color: #72af00;
    padding: 7px;
    font-size: 0.9rem;
}
/*--------------------CAMBIO ELECCION DE MONEDA*/

.contenedor-moneda {
    border: 1px solid black;
    background-color: #e9e966;
    
    box-shadow: inset 8px 8px 4px rgb(255 255 255 / 25%), inset -3px -3px 4px rgb(0 0 0 / 25%), 2px 2px 10px rgb(0 0 0 / 40%);
    bottom: 3.5rem;
}

.icono_moneda{
    position: absolute;
    bottom: 20px;
}

.botones-tres{
    border: none;
    border-radius: 5px;
    background-color: #eba900;
    color: white;
    font-size: 1rem;
    cursor: pointer;

    box-shadow: 0px 2px 0px #8a6302;
}

.botones-tres:hover{
    background-color: #ce9403;
}

.botones-tres:active{
    box-shadow: 0px 0px 0px #b78403;
    transform: translate(0px, 2px);
}

.contenedor-moneda .boton-lanzar-moneda {
    padding: 5px 4px;
    transition: .05s linear;
}

.contenedor-moneda .boton-lanzar-moneda:disabled {
    background-color: #eded9f;
    border: 1px solid #c5c563;
    box-shadow: none;
    color: #959595;
}

.contenedor-moneda .boton-lanzar-moneda:disabled:active {
    transform: none
}

.anterior-ganado-moneda{
    color: green;
    font-weight: bold;
}

.anterior-perdido-moneda{
    color: red;
    font-weight: bold;
}

.estado-moneda-actual{
    position: relative;
    overflow: hidden;
    height: 42%;
    top: 15%;
}

.estado-moneda-actual *{
    transform: translate(0px, 0px);
}

.estado-moneda-actual .salio-cara{
    animation: saleCara 0.4s steps(1) 4 forwards;
}

.estado-moneda-actual .salio-cara2{
    animation: saleCara2 0.4s steps(1) 4 forwards;
}

.estado-moneda-actual .salio-ceca{
    animation: saleCeca 0.4s steps(1) 4 forwards;
}

.estado-moneda-actual .salio-ceca2{
    animation: saleCeca2 0.4s steps(1) 4 forwards;
}

.gira-moneda-tamanio{
    animation: giraMonedatamanio 2.2s;
}

@keyframes saleCara {
    0%{
        transform: translate(0px, -0px);
    }
    12%{
        transform: translate(0px, -277px);
    }
    24%{
        transform: translate(0px, -505px);
    }
    36%{
        transform: translate(0px, -746px);
    }
    48%{
        transform: translate(0px, -1069px);
    }
    60%{
        transform: translate(0px, -1389px);
    }
    72%{
        transform: translate(0px, -1624px);
    }
    84%{
        transform: translate(0px, -1874px);
    }
    100%{
        transform: translate(0px, -0px);
    }
}
@keyframes saleCara2 {
    0%{
        transform: translate(0px, -0px);
    }
    12%{
        transform: translate(0px, -277px);
    }
    24%{
        transform: translate(0px, -505px);
    }
    36%{
        transform: translate(0px, -746px);
    }
    48%{
        transform: translate(0px, -1069px);
    }
    60%{
        transform: translate(0px, -1389px);
    }
    72%{
        transform: translate(0px, -1624px);
    }
    84%{
        transform: translate(0px, -1874px);
    }
    100%{
        transform: translate(0px, -0px);
    }
}

@keyframes saleCeca {
    0%{
        transform: translate(0px, -0px);
    }
    9%{
        transform: translate(0px, -277px);
    }
    18%{
        transform: translate(0px, -505px);
    }
    27%{
        transform: translate(0px, -746px);
    }
    36%{
        transform: translate(0px, -1069px);
    }
    45%{
        transform: translate(0px, -1389px);
    }
    54%{
        transform: translate(0px, -1624px);
    }
    63%{
        transform: translate(0px, -1874px);
    }
    72%{
        transform: translate(0px, -0px);
    }
    
    80%{
        transform: translate(0px, -277px);
    }
    89%{
        transform: translate(0px, -505px);
    }
    95%{
        transform: translate(0px, -746px);
    }
    100%{
        transform: translate(0px, -1069px);
    }
}
@keyframes saleCeca2 {
    0%{
        transform: translate(0px, -0px);
    }
    9%{
        transform: translate(0px, -277px);
    }
    18%{
        transform: translate(0px, -505px);
    }
    27%{
        transform: translate(0px, -746px);
    }
    36%{
        transform: translate(0px, -1069px);
    }
    45%{
        transform: translate(0px, -1389px);
    }
    54%{
        transform: translate(0px, -1624px);
    }
    63%{
        transform: translate(0px, -1874px);
    }
    72%{
        transform: translate(0px, -0px);
    }
    
    80%{
        transform: translate(0px, -277px);
    }
    89%{
        transform: translate(0px, -505px);
    }
    95%{
        transform: translate(0px, -746px);
    }
    100%{
        transform: translate(0px, -1069px);
    }
}

@keyframes giraMonedatamanio {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.6);
    }
    100%{
        transform: scale(1);
    }
}

@media screen and (max-width: 1367px){
    .contenedor-moneda{
        width: 70vw;
        height: 60vh;
        position: relative;
        top: 0;
    }
}