/*POSICIONES--------------------*/
#Moneda-Seccion{
    /* border: solid 10px black; */
    /* height: 100vh; */
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.contenedor-moneda{
    border: solid rgb(70, 70, 70) 3px;
    border-radius: 20px;
    width: 35vw;
    height: 15vw;
    /* margin-bottom: 6rem; */
    /* margin-bottom: 24%; */
    bottom: 0%;
    position: relative;
}



.contenedor-moneda .mis-monedas{
    /* position: absolute; */
    top: 0.6rem;
    left: 1rem;
}

.mis-monedas{
    background-color: #dda534;
    position: absolute;
    width: 8rem;
    height: 1.8rem;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-icono-moneda{
    margin-top: 4px;
    margin-right: 8px;
    /* position: absolute;
    left: 0.35rem; */

    /* top: 1rem;
    left: 1rem; */
}
.contenedor-info-mis-monedas{
    margin-bottom: 2px;

    /* position: relative;
    left: 2rem; */

    /* top: 1rem;
    left: 2.5rem; */
}
#icono_moneda{
    /* background-color: red; */

    transform: scale(1.5);
    box-sizing: border-box;
    padding: 2px;
}



.contenedor-moneda .ultima-apuesta{
    position: absolute;
    top: 2.5rem;
    left: 1rem;
}


.contenedor-moneda .apostar{
    position: absolute;
    display: flex;
    top: 1rem;
    right: 1rem;
}

.contenedor-moneda .cambiar-apuesta{
    position: absolute;
    display: flex;
    top: 3rem;
    right: 1rem;
}

.contenedor-moneda .cambiar-apuesta button{
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(94, 94, 94);
    transition: 0.1s linear;
}
.contenedor-moneda .cambiar-apuesta button.apuesta-elegida{
    color: rgb(0, 0, 0);
    transition: 0.1s linear;
}



.contenedor-moneda .apostar div{
    margin: 0 10px;
}

.contenedor-moneda .estado-moneda{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-moneda .elegir{
    margin-top: 1rem;
}

.contenedor-moneda .contenedor-lanzar-moneda{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 1rem;
    width: 100%;
    height: 20px;
}

.contenedor-moneda .boton-lanzar-moneda{
    position: absolute;
    bottom: 0;
}
/*--------------------POSICIONES*/


/*CAMBIO ELECCION DE MONEDA--------------------*/
.estado-moneda .elegir .boton-elegir{
    background-color: #b1541e;
    border: none;
    padding: 5px;
    transition: 0.2s linear;
    color: white;
}

.estado-moneda .elegir .boton-elegir:hover{
    /* background-color: rgb(253, 98, 98); */
    background-color: green;
}

.estado-moneda .elegir .boton-elegir.boton-cara{
    border-radius: 7px 0px 0px 7px;
}
.estado-moneda .elegir .boton-elegir.boton-ceca{
    border-radius: 0px 7px 7px 0px;
}

.estado-moneda .elegir .boton-elegir.seleccionado{
    background-color: #72af00;
    padding: 7px;
    font-size: 0.9rem;
}
/*--------------------CAMBIO ELECCION DE MONEDA*/

.contenedor-moneda {
    border: 1px solid black;
    background-color: #e9e966;
    
    box-shadow: inset 8px 8px 4px rgb(255 255 255 / 25%), inset -3px -3px 4px rgb(0 0 0 / 25%), 2px 2px 10px rgb(0 0 0 / 40%);
}

.icono_moneda{
    position: absolute;
    bottom: 20px;
}

.botones-tres{
    border: none;
    border-radius: 5px;
    background-color: #eba900;
    color: white;
    font-size: 1rem;
    cursor: pointer;

    box-shadow: 0px 2px 0px #8a6302;
}

.botones-tres:hover{
    background-color: #ce9403;
}

.botones-tres:active{
    box-shadow: 0px 0px 0px #b78403;
    transform: translate(0px, 2px);
    /* transition: 0.2s linear; */
}

.contenedor-moneda .boton-lanzar-moneda {
    padding: 5px 4px;
    transition: .05s linear;
}

.contenedor-moneda .boton-lanzar-moneda:disabled {
    background-color: #eded9f;
    border: 1px solid #c5c563;
    box-shadow: none;
    color: #959595;
}

.contenedor-moneda .boton-lanzar-moneda:disabled:active {
    transform: none
}

.anterior-ganado{
    color: green;
    font-weight: bold;
}

.anterior-perdido{
    color: red;
    font-weight: bold;
}