#Tortugas-Seccion{
    display: flex   ;
    border-radius: 40px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.contenedor-tortugas{
    border: black solid 1px;
    background-color: #2c784d;
    box-shadow: inset 8px 8px 4px rgb(255 255 255 / 25%), inset -3px -3px 4px rgb(0 0 0 / 25%), 2px 2px 10px rgb(0 0 0 / 40%);
    border-radius: 35px;
    width: 90vw;
    height: 79%;
    position: relative;
    margin-bottom: 1rem;
}

.contenedor-tortugas.misterio-uno{
    display: none;
}

.contenedor-tortugas .mis-monedas{
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.contenedor-tortugas .ultima-apuesta{
    position: absolute;
    top: 4.2rem;
    left: 2rem;
}

.contenedor-tortugas .apostar{
    position: absolute;
    display: flex;
    top: 2rem;
    right: 2rem;
}

.cambiar-apuesta-tortugas{
    position: absolute;
    display: flex;
    top: 4rem;
    right: 2rem;
}
.cambiar-apuesta-tortugas button:first-child{
    border-radius: 5px 0px 0px 5px;
}
.cambiar-apuesta-tortugas button:last-child{
    border-radius: 0px 5px 5px 0px;
}
.cambiar-apuesta-tortugas button{
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: #eba900;
    color: #fff;
}
.cambiar-apuesta-tortugas button.apuesta-elegida-tortugas{
    color: #fff;
    background-color: #917f53;
    transform: translate(0px, 2px);
    height: 1rem;
}


.contenedor-tortugas .apostar div{
    margin: 0 10px;
}



.cancha-tortugas{
    margin-top: 3rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cancha-tortugas .cancha-num{
    width: 95%;
    margin: 5.1rem;
}
.imagen-pista{
    position: absolute;
    width: 100%;
    top: 0;
    height: 9rem;
}

.cancha-tortuga-uno{
    width: 100%;
    position: relative;
}
.cancha-tortuga-dos{
    width: 100%;
    position: relative;
}
.cancha-tortuga-tres{
    width: 100%;
    position: relative;
}

.tortuga-individual{
    position: absolute;
    top: 1rem;
    left: 2%;
    transform: rotate(90deg);
    /* transform: rotate(90deg) translate(-50%, -50%); */
}



.contenedor-tortugas .contenedor-correr-tortugas{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 1rem;
    width: 100%;
    height: 20px;
}



.contenedor-elegir-tortugas{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 4rem;
    transform: scale(0.6);
}

.contenedor-elegir-tortugas .elegir-tortuga{
    background-color: #635f59;
    cursor: pointer;
    transition: 0.1s linear;
}

.contenedor-elegir-tortugas .elegir-tortuga:first-child{
    border-radius: 15px 0px 0px 15px;
}
.contenedor-elegir-tortugas .elegir-tortuga:last-child{
    border-radius: 0px 15px 15px 0px;
}

.elegir-tortuga.tortuga-elegida{
    background-color: #c58132;
    transform: scale(1.2);
}


.contenedor-tortugas .boton-correr-tortugas{
    position: absolute;
    bottom: 0.2rem;
    padding: 5px 4px;
    transition: .05s linear;
}


.contenedor-tortugas .boton-correr-tortugas:disabled {
    background-color: #eded9f;
    border: 1px solid #c5c563;
    box-shadow: none;
    color: #959595;
}

.contenedor-tortugas .boton-correr-tortugas:disabled:active {
    transform: none
}


.tortuga-individual.corriendo{
    animation: correr linear 2s both;
}

@keyframes correr {
    0%{
        left: 2%;
    }
    100%{
        left: 92%;
    }
}

.anterior-ganado-tortugas{
    color: rgb(104, 230, 104);
    font-weight: bold;
}

.anterior-perdido-tortugas{
    color: red;
    font-weight: bold;
}

/* .tortuga-individual.corriendo #cabeza{
    animation: torgasMovimientoCuerpo 0.5s alternate infinite;
} */
.tortuga-individual.corriendo #pata1{
    animation: torgasMovimientoPata1 1.5s alternate cubic-bezier(0.16, 0.99, 0.84, 0.83);
}
.tortuga-individual.corriendo #pata2{
    animation: torgasMovimientoPata2 1.5s alternate  cubic-bezier(0.16, 0.99, 0.84, 0.83);
}
.tortuga-individual.corriendo #pata3{
    animation: torgasMovimientoPata3 1.5s alternate cubic-bezier(0.16, 0.99, 0.84, 0.83);
}
.tortuga-individual.corriendo #pata4{
    animation: torgasMovimientoPata4 1.5s alternate cubic-bezier(0.16, 0.99, 0.84, 0.83);
}

@keyframes torgasMovimientoPata1 {
    0%{
        /* transform: rotate(4deg) */
        transform: scale(1.02);
    }
    25%{
        /* transform: rotate(0deg) */
        transform: scale(0.98);
    }
    50%{
        /* transform: rotate(4deg) */
        transform: scale(1.02);
    }
    75%{
        /* transform: rotate(0deg) */
        transform: scale(0.98);
    }
    100%{
        /* transform: rotate(4deg) */
        transform: scale(1.02);
    }
}
@keyframes torgasMovimientoPata2 {
    0%{
        /* transform: rotate(4deg) */
        transform: scale(1.02);
    }
    25%{
        /* transform: rotate(0deg) */
        transform: scale(0.98);
    }
    50%{
        /* transform: rotate(4deg) */
        transform: scale(1.02);
    }
    75%{
        /* transform: rotate(0deg) */
        transform: scale(0.98);
    }
    100%{
        /* transform: rotate(4deg) */
        transform: scale(1.02);
    }
}
@keyframes torgasMovimientoPata3 {
    0%{
        /* transform: rotate(0deg) */
        transform: scale(0.98);
    }
    25%{
        /* transform: rotate(4deg) */
        transform: scale(1.02);
    }
    50%{
        /* transform: rotate(0deg) */
        transform: scale(0.98);
    }
    75%{
        /* transform: rotate(4deg) */
        transform: scale(1.02);
    }
    100%{
        /* transform: rotate(4deg) */
        transform: scale(0.98);
    }
}
@keyframes torgasMovimientoPata4 {
    0%{
        /* transform: rotate(0deg) */
        transform: scale(0.98);
    }
    25%{
        /* transform: rotate(4deg) */
        transform: scale(1.02);
    }
    50%{
        /* transform: rotate(0deg) */
        transform: scale(0.98);
    }
    75%{
        /* transform: rotate(4deg) */
        transform: scale(1.02);
    }
    100%{
        /* transform: rotate(4deg) */
        transform: scale(0.98);
    }
}

@media screen and (max-width: 1367px){
    .contenedor-tortugas{
        height: 75%;
        margin-bottom: -3rem;
    }

    .imagen-pista{
        height: 5rem;
    }

    .cancha-tortugas .cancha-num{
        margin: 3rem;
    }

    .tortuga-individual{
        top: -0.8rem;
        transform: rotate(90deg) scale(0.8);
    }

    .contenedor-elegir-tortugas{
        bottom: 2rem;
        transform: scale(0.4);
    }
}

.trampa-tortugas{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trampa-tortugas .texto-tortugas-trampa{
    font-size: 2rem;
    text-align: center;
}
.trampa-tortugas .boton-tortugas-trampa{
    font-size: 1.4rem;
    margin: 50px;
    width: 25%;
    height: 3rem;
    cursor: pointer;
}

.trampa-tortugas .boton-tortugas-trampa span{
    position: relative;
    top: -10px;
    font-size: 0.8rem;
    color: rgb(148, 148, 0);
}

.trampa-tortugas.tortugas-sin-trampa{
    display: none;
}